
@font-face {
    font-family: Yekan Bakh;
    src: url(../font/YekanBakh-Bold.ttf);
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../font/YekanBakh-Fat.ttf);
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../font/YekanBakh-Heavy.ttf);
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../font/YekanBakh-Light.ttf);
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../font/Yekan\Bakh\ Regular.ttf);
}

*{
    font-family: Yekan Bakh;
}

